.container__botao {
    border-radius: 16px;
    background: #1875E8;
    padding: 6px;
    font-size: 24px;
    width: 100%;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.container__botao-desabilitado {
    border-radius: 16px;
    background: #6f6f70;
    padding: 6px;
    font-size: 24px;
    width: 100%;
    font-weight: 700;
    border: none;
    pointer-events: none;
    cursor: not-allowed;
}